[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llvmlite = "*"
"antlr4-python3-runtime" = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.6"
